<div class="main-body">
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input
      matInput
      (keyup)="applyFilter($event)"
      placeholder="Ex. XPTO"
      #input
    />
  </mat-form-field>
  <div class="buttonAdd">
    <button mat-raised-button (click)="openAddProviderForm()">Add Provider</button>
  </div>
  <div class="table-container">
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="Id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
        <td mat-cell *matCellDef="let row">{{ row.id }}</td>
      </ng-container>

      <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let row" style="font-weight: bold;">{{ row.name }}</td>
      </ng-container>

      <ng-container matColumnDef="UrlBase">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Url Base</th>
        <td mat-cell *matCellDef="let row" style="font-weight: bold;color: blue;">{{ row.urlBase }}</td>
      </ng-container>

      <ng-container matColumnDef="IdentifierCode">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Identifier Code</th>
        <td mat-cell *matCellDef="let row" style="font-weight: bold;">{{ row.identifierCode }}</td>
      </ng-container>

      <ng-container matColumnDef="Billing">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Billing</th>
        <td mat-cell *matCellDef="let row" style="font-weight: bold;">{{ row.billing }}</td>
      </ng-container>

      <ng-container matColumnDef="ContractValue">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Contract Value</th>
        <td mat-cell *matCellDef="let row" style="font-weight: bold;">{{ row.contractValue }}</td>
      </ng-container>

      <ng-container matColumnDef="Extract">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Extract</th>
        <td mat-cell *matCellDef="let row">{{ row.extract ? "Sim" : "Não" }}</td>
      </ng-container>

      <ng-container matColumnDef="Active">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Active</th>
        <td mat-cell *matCellDef="let row">{{ row.active ? "Sim" : "Não" }}</td>
      </ng-container>

      <ng-container matColumnDef="Action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
        <td mat-cell *matCellDef="let row">
          <button
            mat-icon-button
            color="primary"
            (click)="openEditProviderForm(row)"
          >
            <mat-icon>edit_note</mat-icon>
          </button>
          <button
            mat-icon-button
            color="warn"
            (click)="openDeleteConfirmation(row.id)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">
          No data matching the filter "{{ input.value | currency : "BRL" }}"
        </td>
      </tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[5, 10, 25, 100]"
      aria-label="Select page of clients"
    ></mat-paginator>
  </div>
</div>
